.loading-overlay {
  width: 100%;
  background-color: #b7b2b22b;
}
.Sell {
  .price {
    color: #f75535;
  }
}
.Buy {
  .price {
    color: #00a45b;
  }
}
li.heading {
  span {
    font-weight: 600;
  }
}
li.not-heading {
  cursor: pointer;
  margin: 0px !important;
  padding: 1.5px 8px;
  border: 1px transparent;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
}
li.not-heading:hover {
  background-color: #5b656d;
  span {
    font-weight: bold;
  }
  position: relative;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  z-index: 1;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 0 1px rgb(49, 64, 76), -1px 10px 4px rgba(16, 22, 26, 0.1), 1px 18px 24px rgba(16, 22, 26, 0.2);
  box-shadow: inset 0 0 0 1px rgb(49, 64, 76), -1px 5px 4px rgba(16, 22, 26, 0.1), 1px 7px 24px rgba(16, 22, 26, 0.2);
}