$primary: #fff;
$secondary: #31404c;
$inputBG: #27343d;
$hoverBlue: #48aff0;
$BGHover: #b7b2b22b;
$gray: #728089;
$green: #00a45b;
$red: #f75535;

body {
  margin: 0;
  background-color: $primary;
  overflow-x: hidden;
}
p, input {
  font-size: 13px;
}
h5 {
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin: 0px 0 5px;
  color: #fff;
  border-bottom: 1px solid #a7a7a7;
}
.list {
  overflow-y: scroll;
  height: 90%;

}
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 3px;
  background-color: $secondary;
}
::-webkit-scrollbar
{
  width: 6px;
  background-color: $inputBG;
}
.pt-tab-panel {

}
::-webkit-scrollbar-thumb
{
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: $inputBG;
}
button.pt-button {
  font-size: 16px;
}
.home-page {
  background: $secondary;
  display: flex;
  margin: auto 10px;
  flex-direction: column;
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .pt-card {
    background-color: $secondary;
  }
  .trade-history {
    width: 100% !important;
  }
}
.order-stats .order-book .inner {
  padding: 0px;
}
.pt-card {
  background-color: $secondary;
  .pt-card {
    padding: 0px;
    box-shadow: none;
  }
}

.row {
  display: flex;
  justify-content: space-between;
}
.loading-overlay {
  width: 100%;
  background-color: $BGHover;
  height: 89%;
  display: flex;
  justify-content: center;
  align-items: center;
  svg path.pt-spinner-track {
    stroke: rgba(16, 22, 26, 0.5) !important;
  }
}
.pt-tab:focus {
  outline: none;
}
.pt-tab {
  color: $primary;
}
.pt-tab[aria-selected="true"], .pt-tab:not([aria-disabled="true"]):hover {
  color: $hoverBlue;
}
.pt-tab-indicator-wrapper .pt-tab-indicator {
  background-color: $hoverBlue;
}
//.pt-card, .pt-elevation-1 {
//  box-shadow: none !important;
//}
.Sell {
  .price {
    color: #f75535;
  }
}
.Buy {
  .price {
    color: #00a45b;
  }
}
.order-book {
  text-align: center;
  width: 420px;
  height: 500px;
  .inner {
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  ul {
    text-align: left;
    li {
      display: inline-block;
      padding: 2px 8px;
      font-size: 13px;
      width: 100%;
      span {
        float: left;
        margin-right: 15px;
        text-align: left;
      }
      span.index {
        min-width: 15px;
      }
      span.price, span.amount, span.total {
        min-width: 90px;
      }
    }
    li.heading {
      margin: 5px auto 0;
      span {
        font-weight: 600;
      }
    }
    li.not-heading {
      cursor: pointer;
      margin: 0px !important;
      border: 1px transparent;
      border-radius: 2px;
      display: inline-block;
    }
    li.not-heading:hover {
      background-color: #5b656d;
      span {
        font-weight: bold;
      }
      position: relative;
      right: -2px;
      left: -2px;
      font-size: 13.5px;
      z-index: 1;
      border-radius: 3px;
      -webkit-box-shadow: inset 0 0 0 1px rgb(49, 64, 76), -1px 10px 4px rgba(16, 22, 26, 0.1), 1px 18px 24px rgba(16, 22, 26, 0.2);
      box-shadow: inset 0 0 0 1px rgb(49, 64, 76), -1px 5px 4px rgba(16, 22, 26, 0.1), 1px 7px 24px rgba(16, 22, 26, 0.2);
    }
  }
}

.trade-history {
  height: 700px;
  width: 410px;
  h5 {
  }
  background-color: $secondary;
  .pt-card {
    padding-top: 0px;
    box-shadow: none !important;
  }
  .pt-tabs {
    height: 94%;
  }

  .pt-tab-panel {
    margin-top: 0;
    height: 100%;
    position: relative;
    button {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  li {
    padding: 2px 8px;
    font-size: 13px;
    width: 100%;
    span {
      float: left;
      margin-right: 15px;
      text-align: left;
    }
    span.index {
      min-width: 15px;
    }
    span.time {
      min-width: 90px;
    }
    span.type {
      min-width: 35px;
    }
    span.price, span.amount, span.total {
      min-width: 60px !important;
    }
  }
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.order-form {
  width: 485px;
  font-size: 13px;
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pt-form-group {
    width: 235px;
    label{

    }
    input {
      width: 100%;
    }
    .pt-form-content {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      span {
        transform: translateX(-135%);
        color: $gray;
      }

      .radio-buttons {
        display: flex;
        justify-content: flex-end;
        .box {
          width: 45px;
          height: 30px;
          display: flex;
          background: #27343d;
          text-align: center;
          padding: 6px 0;
          justify-content: center;
          margin-right: 10px;
          cursor: pointer;
          border: 1px solid #2584c1;
          box-shadow: none;
          border-radius: 3px;
          input {
            opacity: 0;
            width: 0px;
            margin: 0px;
          }
        }
        .active-box {
          box-shadow: 0 0 3px 2px $hoverBlue, 0 0 0 1px $hoverBlue, 0 0 0 3px rgba(19, 124, 189, 0.3), inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4);
          border-radius: 3px;
          border: 1px solid transparent;

        }
      }
    }
  }


    label {
      text-align: left;

    }
    button {
      width: 100%;
      min-height: 35px !important;
    }
}
.coin-searcher {
  //padding: 10px;
  min-width: 800px;
  width: 100%;
  height: 700px;
  background-color: #31404c;
  .pt-tabs {
    height: 100%;
    .pt-tab-panel {
      margin-top: 0px;
      height: 100%;
    }
  }
  .pt-tab-list {
    .pt-tab {
      font-weight: 600;
      svg {
        margin-top: 6px;
      }
    }
  }
  input {
     color: $primary;
     background-color: #27343d;
     width: 230px;
     height: 35px;
   }
  ul {
    list-style: none;
    padding: 0px;
    li {
      width: 100%;
      display: flex;
      justify-content: space-between;
      color: $primary;
      span {
        text-align: left;
        word-wrap: break-word;
      }
      span.star {
        cursor: pointer;
        width: 30px;
        min-width: 30px;
        //flex-grow: 0.03;
      }
      span.pair {
        width: 120px;
        // flex-grow: 0.05;
      }
      span.name {
        width: 220px;
        // flex-grow: 0.1;
      }
      span.symbol {
        width: 100px;
        // flex-grow: 0.1;
      }
      span.change {
        min-width: 110px;
        width: 110px;
        // flex-grow: 0.05;
      }
      span.price {
        width: 130px;
        // flex-grow: 0.1;
      }
    }
    li.not-heading:hover {
      span {
        font-weight: bold;
      }
      background-color: $BGHover;
      z-index: 1;
      border-radius: 3px;
      -webkit-box-shadow: inset 0 0 0 1px rgb(49, 64, 76), -1px 10px 4px rgba(16, 22, 26, 0.1), 1px 18px 24px rgba(16, 22, 26, 0.2);
      box-shadow: inset 0 0 0 1px rgb(49, 64, 76), -1px 5px 4px rgba(16, 22, 26, 0.1), 1px 7px 24px rgba(16, 22, 26, 0.2);
    }
  }
    li.not-heading {
      box-shadow: inset 0px 1px 0 0 rgba(16, 22, 26, 0.15) !important;
      span {
        font-size: 13px;
        color: #fff;
        text-align: left;
      }
      padding: 5px;
    }
    li.heading {
      span {
        box-shadow: none !important;
        cursor: pointer;
        font-weight: 600;
        span {
          svg {
            color: $hoverBlue;
            margin-top: 2px;
          }
        }
      }
    }
  li.loading-row {
    height: 100%;
    width: 100%;
    text-align: center;
    span {
      width: 100%;
      height: 100%;
      text-align: center;
    }
  }
  li.not-found {
    span {
      margin: 0px auto;
    }
  }
    .loading-overlay {
      height: 100%;
    }
}
.order-stats {
  .pt-tab-panel {
    margin-top: 0;
  }
}
.depth-chart-container {
  .depth-chart {
    width: 400px;
    svg {
      background: $secondary;
      g {
        path {
          stroke-width: 1;
        }
        rect:hover, image:hover, text:hover {
        }
        image {
          color: $primary;
        }
        text,image  {
          fill: $primary;
        }
      }
      g:hover > path {
        stroke-width: 2;
      }
      g:hover > rect, g:hover > image, g:hover > text {
        background: red;

      }
    }
    a {
      display: none !important;
    }
  }
}
.depth-chart-container.loading {
  height: 500px;
  background-color: #31404c;
  padding: 20px;
  .loading-overlay {
    height: 100%;
  }
}


.main-chart {
  .toolbar {
    width: 100%;
    display: inline-block;
    .pt-icon {
      cursor: pointer;
      float: left;
      margin-right: 15px;
    }
    .pt-icon.active {
      color: $hoverBlue;
    }
    .menu {
      position: relative;
      float: left;
      width: 150px;
      margin-right: 25px;
      display: flex;
      flex-direction: column;
      .pt-menu {
        z-index: 9;
        position: absolute;
        li {
          margin: 2px auto;
        }

      }
      .pt-menu.open {
        display: block;
        top: 31px;
      }
      .pt-menu.closed {
        display: none;
      }
    }
    .menu.duration {
      width: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 2px 0px 2px 10px;
      border-radius: 3px;
      box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.4);
      background-color: #394b59;
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.05)), to(rgba(255, 255, 255, 0)));
      background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0));
      background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0));
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0));
      color: #f5f8fa;
      button {
        box-shadow: none;
        float: left;
        min-height: 26px;
        margin: 0px 10px 0 0;
        padding: 0px 6px;
      }
    }
    .menu {
      .pt-popover-target {
        button{
          width: 100%;
        }
      }
    }
  }
  .chart-container {
    text-align: left;
    label, select {
      display: none !important;
    }
    g.react-stockcharts-moving-average-tooltip, g.react-stockcharts-tooltip-hover {
      text {
        tspan.react-stockcharts-tooltip-label {
          fill: $hoverBlue !important;
        }
        tspan {
          fill: $primary !important;
        }
      }
    }
    g.react-stockcharts-tooltip {
      text {
        tspan.react-stockcharts-tooltip-label {
          fill: $hoverBlue !important;
        }
        tspan[fill="#4682B4"] {
          fill: $primary;
        }
      }
    }
  }
}