p, input {
  font-size: 13px; }

.loading-overlay {
  width: 100%;
  background-color: #b7b2b22b;
  height: 89%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .loading-overlay svg path.pt-spinner-track {
    stroke: rgba(16, 22, 26, 0.5) !important; }

.Sell .price {
  color: #f75535; }

.Buy .price {
  color: #00a45b; }

.order-book {
  text-align: center;
  width: 420px;
  height: 400px; }
  .order-book .pt-card {
    text-align: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll; }
  .order-book ul {
    text-align: left; }
    .order-book ul li {
      padding: 2px 8px;
      font-size: 13px;
      width: 100%; }
      .order-book ul li span {
        float: left;
        margin-right: 15px;
        text-align: left; }
      .order-book ul li span.index {
        min-width: 15px; }
      .order-book ul li span.price, .order-book ul li span.amount, .order-book ul li span.total {
        min-width: 90px; }
    .order-book ul li.heading span {
      font-weight: 600; }
    .order-book ul li.not-heading {
      cursor: pointer;
      margin: 0px !important;
      border: 1px transparent;
      border-radius: 2px;
      display: inline-block; }
    .order-book ul li.not-heading:hover {
      background-color: #5b656d;
      position: relative;
      right: -2px;
      left: -2px;
      font-size: 13.5px;
      z-index: 1;
      border-radius: 3px;
      -webkit-box-shadow: inset 0 0 0 1px #31404c, -1px 10px 4px rgba(16, 22, 26, 0.1), 1px 18px 24px rgba(16, 22, 26, 0.2);
      box-shadow: inset 0 0 0 1px #31404c, -1px 5px 4px rgba(16, 22, 26, 0.1), 1px 7px 24px rgba(16, 22, 26, 0.2); }
      .order-book ul li.not-heading:hover span {
        font-weight: bold; }

.trade-history {
  width: 410px; }
  .trade-history li {
    padding: 2px 8px;
    font-size: 13px;
    width: 100%; }
    .trade-history li span {
      float: left;
      margin-right: 15px;
      text-align: left; }
    .trade-history li span.index {
      min-width: 15px; }
    .trade-history li span.time {
      min-width: 90px; }
    .trade-history li span.type {
      min-width: 35px; }
    .trade-history li span.price, .trade-history li span.amount, .trade-history li span.total {
      min-width: 60px !important; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

label {
  text-align: left; }
  label span.curr-name {
    position: absolute;
    top: 0;
    color: #728089;
    right: 10px;
    line-height: 2; }

.order-form {
  font-size: 13px; }
  .order-form form .radio-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end; }
    .order-form form .radio-buttons .box {
      width: 45px;
      height: 25px;
      display: flex;
      background: #27343d;
      text-align: center;
      padding: 3px;
      margin-left: 10px;
      justify-content: center;
      cursor: pointer;
      border: 1px solid #2584c1;
      box-shadow: none;
      border-radius: 3px; }
      .order-form form .radio-buttons .box input {
        opacity: 0;
        width: 0px;
        margin: 0px; }
    .order-form form .radio-buttons .active-box {
      box-shadow: 0 0 3px 2px #137cbd, 0 0 0 1px #137cbd, 0 0 0 3px rgba(19, 124, 189, 0.3), inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4);
      border-radius: 3px;
      border: 1px solid transparent; }
  .order-form form button {
    width: 100%;
    min-height: 35px !important; }

.coin-searcher {
  padding: 10px;
  width: 800px;
  background-color: #31404c; }
  .coin-searcher .pt-tab-list .pt-tab {
    color: #fff;
    font-weight: 600; }
    .coin-searcher .pt-tab-list .pt-tab svg {
      margin-top: 6px; }
  .coin-searcher .pt-tab-list .pt-tab:hover {
    color: #137cbd; }
  .coin-searcher .pt-tab-list .pt-tab:focus {
    outline: none; }
  .coin-searcher input {
    color: #fff;
    background-color: #27343d;
    width: 230px;
    height: 35px; }
  .coin-searcher table {
    width: 100%;
    background-color: #30404d;
    padding: 10px; }
    .coin-searcher table tr th, .coin-searcher table tr td {
      font-size: 13px;
      box-shadow: inset 0px 1px 0 0 rgba(16, 22, 26, 0.15) !important;
      color: #fff;
      text-align: left; }
    .coin-searcher table tr th {
      box-shadow: none !important;
      cursor: pointer; }
      .coin-searcher table tr th span svg {
        color: #137cbd;
        margin-top: 2px; }
    .coin-searcher table tr.loading-row:hover {
      background-color: transparent;
      position: inherit;
      box-shadow: none; }
      .coin-searcher table tr.loading-row:hover td {
        background-color: transparent !important; }
    .coin-searcher table tbody tr:hover {
      z-index: 1;
      border-radius: 3px;
      -webkit-box-shadow: inset 0 0 0 1px #31404c, -1px 10px 4px rgba(16, 22, 26, 0.1), 1px 18px 24px rgba(16, 22, 26, 0.2);
      box-shadow: inset 0 0 0 1px #31404c, -1px 5px 4px rgba(16, 22, 26, 0.1), 1px 7px 24px rgba(16, 22, 26, 0.2); }
      .coin-searcher table tbody tr:hover span {
        font-weight: bold; }
    .coin-searcher table .loading-overlay {
      height: 100%; }

/*# sourceMappingURL=style.css.map */
