body {
  margin: 0;
  background-color: #fff;
  overflow-x: hidden; }

p, input {
  font-size: 13px; }

h5 {
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin: 0px 0 5px;
  color: #fff;
  border-bottom: 1px solid #a7a7a7; }

.list {
  overflow-y: scroll;
  height: 90%; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background-color: #31404c; }

::-webkit-scrollbar {
  width: 6px;
  background-color: #27343d; }

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #27343d; }

button.pt-button {
  font-size: 16px; }

.home-page {
  background: #31404c;
  display: flex;
  margin: auto 10px;
  flex-direction: column; }
  .home-page .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
  .home-page .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .home-page .pt-card {
    background-color: #31404c; }
  .home-page .trade-history {
    width: 100% !important; }

.order-stats .order-book .inner {
  padding: 0px; }

.pt-card {
  background-color: #31404c; }
  .pt-card .pt-card {
    padding: 0px;
    box-shadow: none; }

.row {
  display: flex;
  justify-content: space-between; }

.loading-overlay {
  width: 100%;
  background-color: #b7b2b22b;
  height: 89%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .loading-overlay svg path.pt-spinner-track {
    stroke: rgba(16, 22, 26, 0.5) !important; }

.pt-tab:focus {
  outline: none; }

.pt-tab {
  color: #fff; }

.pt-tab[aria-selected="true"], .pt-tab:not([aria-disabled="true"]):hover {
  color: #48aff0; }

.pt-tab-indicator-wrapper .pt-tab-indicator {
  background-color: #48aff0; }

.Sell .price {
  color: #f75535; }

.Buy .price {
  color: #00a45b; }

.order-book {
  text-align: center;
  width: 420px;
  height: 500px; }
  .order-book .inner {
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 100%; }
  .order-book ul {
    text-align: left; }
    .order-book ul li {
      display: inline-block;
      padding: 2px 8px;
      font-size: 13px;
      width: 100%; }
      .order-book ul li span {
        float: left;
        margin-right: 15px;
        text-align: left; }
      .order-book ul li span.index {
        min-width: 15px; }
      .order-book ul li span.price, .order-book ul li span.amount, .order-book ul li span.total {
        min-width: 90px; }
    .order-book ul li.heading {
      margin: 5px auto 0; }
      .order-book ul li.heading span {
        font-weight: 600; }
    .order-book ul li.not-heading {
      cursor: pointer;
      margin: 0px !important;
      border: 1px transparent;
      border-radius: 2px;
      display: inline-block; }
    .order-book ul li.not-heading:hover {
      background-color: #5b656d;
      position: relative;
      right: -2px;
      left: -2px;
      font-size: 13.5px;
      z-index: 1;
      border-radius: 3px;
      -webkit-box-shadow: inset 0 0 0 1px #31404c, -1px 10px 4px rgba(16, 22, 26, 0.1), 1px 18px 24px rgba(16, 22, 26, 0.2);
      box-shadow: inset 0 0 0 1px #31404c, -1px 5px 4px rgba(16, 22, 26, 0.1), 1px 7px 24px rgba(16, 22, 26, 0.2); }
      .order-book ul li.not-heading:hover span {
        font-weight: bold; }

.trade-history {
  height: 700px;
  width: 410px;
  background-color: #31404c; }
  .trade-history .pt-card {
    padding-top: 0px;
    box-shadow: none !important; }
  .trade-history .pt-tabs {
    height: 94%; }
  .trade-history .pt-tab-panel {
    margin-top: 0;
    height: 100%;
    position: relative; }
    .trade-history .pt-tab-panel button {
      position: absolute;
      bottom: 0;
      left: 0; }
  .trade-history li {
    padding: 2px 8px;
    font-size: 13px;
    width: 100%; }
    .trade-history li span {
      float: left;
      margin-right: 15px;
      text-align: left; }
    .trade-history li span.index {
      min-width: 15px; }
    .trade-history li span.time {
      min-width: 90px; }
    .trade-history li span.type {
      min-width: 35px; }
    .trade-history li span.price, .trade-history li span.amount, .trade-history li span.total {
      min-width: 60px !important; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

.order-form {
  width: 485px;
  font-size: 13px; }
  .order-form .row {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .order-form .pt-form-group {
    width: 235px; }
    .order-form .pt-form-group input {
      width: 100%; }
    .order-form .pt-form-group .pt-form-content {
      display: flex;
      align-items: center;
      justify-content: flex-start; }
      .order-form .pt-form-group .pt-form-content span {
        transform: translateX(-135%);
        color: #728089; }
      .order-form .pt-form-group .pt-form-content .radio-buttons {
        display: flex;
        justify-content: flex-end; }
        .order-form .pt-form-group .pt-form-content .radio-buttons .box {
          width: 45px;
          height: 30px;
          display: flex;
          background: #27343d;
          text-align: center;
          padding: 6px 0;
          justify-content: center;
          margin-right: 10px;
          cursor: pointer;
          border: 1px solid #2584c1;
          box-shadow: none;
          border-radius: 3px; }
          .order-form .pt-form-group .pt-form-content .radio-buttons .box input {
            opacity: 0;
            width: 0px;
            margin: 0px; }
        .order-form .pt-form-group .pt-form-content .radio-buttons .active-box {
          box-shadow: 0 0 3px 2px #48aff0, 0 0 0 1px #48aff0, 0 0 0 3px rgba(19, 124, 189, 0.3), inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4);
          border-radius: 3px;
          border: 1px solid transparent; }
  .order-form label {
    text-align: left; }
  .order-form button {
    width: 100%;
    min-height: 35px !important; }

.coin-searcher {
  min-width: 800px;
  width: 100%;
  height: 700px;
  background-color: #31404c; }
  .coin-searcher .pt-tabs {
    height: 100%; }
    .coin-searcher .pt-tabs .pt-tab-panel {
      margin-top: 0px;
      height: 100%; }
  .coin-searcher .pt-tab-list .pt-tab {
    font-weight: 600; }
    .coin-searcher .pt-tab-list .pt-tab svg {
      margin-top: 6px; }
  .coin-searcher input {
    color: #fff;
    background-color: #27343d;
    width: 230px;
    height: 35px; }
  .coin-searcher ul {
    list-style: none;
    padding: 0px; }
    .coin-searcher ul li {
      width: 100%;
      display: flex;
      justify-content: space-between;
      color: #fff; }
      .coin-searcher ul li span {
        text-align: left;
        word-wrap: break-word; }
      .coin-searcher ul li span.star {
        cursor: pointer;
        width: 30px;
        min-width: 30px; }
      .coin-searcher ul li span.pair {
        width: 120px; }
      .coin-searcher ul li span.name {
        width: 220px; }
      .coin-searcher ul li span.symbol {
        width: 100px; }
      .coin-searcher ul li span.change {
        min-width: 110px;
        width: 110px; }
      .coin-searcher ul li span.price {
        width: 130px; }
    .coin-searcher ul li.not-heading:hover {
      background-color: #b7b2b22b;
      z-index: 1;
      border-radius: 3px;
      -webkit-box-shadow: inset 0 0 0 1px #31404c, -1px 10px 4px rgba(16, 22, 26, 0.1), 1px 18px 24px rgba(16, 22, 26, 0.2);
      box-shadow: inset 0 0 0 1px #31404c, -1px 5px 4px rgba(16, 22, 26, 0.1), 1px 7px 24px rgba(16, 22, 26, 0.2); }
      .coin-searcher ul li.not-heading:hover span {
        font-weight: bold; }
  .coin-searcher li.not-heading {
    box-shadow: inset 0px 1px 0 0 rgba(16, 22, 26, 0.15) !important;
    padding: 5px; }
    .coin-searcher li.not-heading span {
      font-size: 13px;
      color: #fff;
      text-align: left; }
  .coin-searcher li.heading span {
    box-shadow: none !important;
    cursor: pointer;
    font-weight: 600; }
    .coin-searcher li.heading span span svg {
      color: #48aff0;
      margin-top: 2px; }
  .coin-searcher li.loading-row {
    height: 100%;
    width: 100%;
    text-align: center; }
    .coin-searcher li.loading-row span {
      width: 100%;
      height: 100%;
      text-align: center; }
  .coin-searcher li.not-found span {
    margin: 0px auto; }
  .coin-searcher .loading-overlay {
    height: 100%; }

.order-stats .pt-tab-panel {
  margin-top: 0; }

.depth-chart-container .depth-chart {
  width: 400px; }
  .depth-chart-container .depth-chart svg {
    background: #31404c; }
    .depth-chart-container .depth-chart svg g path {
      stroke-width: 1; }
    .depth-chart-container .depth-chart svg g image {
      color: #fff; }
    .depth-chart-container .depth-chart svg g text, .depth-chart-container .depth-chart svg g image {
      fill: #fff; }
    .depth-chart-container .depth-chart svg g:hover > path {
      stroke-width: 2; }
    .depth-chart-container .depth-chart svg g:hover > rect, .depth-chart-container .depth-chart svg g:hover > image, .depth-chart-container .depth-chart svg g:hover > text {
      background: red; }
  .depth-chart-container .depth-chart a {
    display: none !important; }

.depth-chart-container.loading {
  height: 500px;
  background-color: #31404c;
  padding: 20px; }
  .depth-chart-container.loading .loading-overlay {
    height: 100%; }

.main-chart .toolbar {
  width: 100%;
  display: inline-block; }
  .main-chart .toolbar .pt-icon {
    cursor: pointer;
    float: left;
    margin-right: 15px; }
  .main-chart .toolbar .pt-icon.active {
    color: #48aff0; }
  .main-chart .toolbar .menu {
    position: relative;
    float: left;
    width: 150px;
    margin-right: 25px;
    display: flex;
    flex-direction: column; }
    .main-chart .toolbar .menu .pt-menu {
      z-index: 9;
      position: absolute; }
      .main-chart .toolbar .menu .pt-menu li {
        margin: 2px auto; }
    .main-chart .toolbar .menu .pt-menu.open {
      display: block;
      top: 31px; }
    .main-chart .toolbar .menu .pt-menu.closed {
      display: none; }
  .main-chart .toolbar .menu.duration {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2px 0px 2px 10px;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.4);
    background-color: #394b59;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.05)), to(rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0));
    color: #f5f8fa; }
    .main-chart .toolbar .menu.duration button {
      box-shadow: none;
      float: left;
      min-height: 26px;
      margin: 0px 10px 0 0;
      padding: 0px 6px; }
  .main-chart .toolbar .menu .pt-popover-target button {
    width: 100%; }
  .main-chart .toolbar button {
    float: left; }
.main-chart .chart-container {
  text-align: left; }
  .main-chart .chart-container label, .main-chart .chart-container select {
    display: none !important; }
  .main-chart .chart-container g.react-stockcharts-moving-average-tooltip text tspan.react-stockcharts-tooltip-label, .main-chart .chart-container g.react-stockcharts-tooltip-hover text tspan.react-stockcharts-tooltip-label {
    fill: #48aff0 !important; }
  .main-chart .chart-container g.react-stockcharts-moving-average-tooltip text tspan, .main-chart .chart-container g.react-stockcharts-tooltip-hover text tspan {
    fill: #fff !important; }
  .main-chart .chart-container g.react-stockcharts-tooltip text tspan.react-stockcharts-tooltip-label {
    fill: #48aff0 !important; }
  .main-chart .chart-container g.react-stockcharts-tooltip text tspan {
    fill: #fff; }
  .main-chart .chart-container g.react-stockcharts-tooltip text tspan[fill="#4682B4"] {
    fill: #fff; }
  .main-chart .chart-container g.react-stockcharts-tooltip text tspan[fill="#FF0000"] {
    fill: #FF0000; }
  .main-chart .chart-container g.react-stockcharts-tooltip text tspan[fill="#00F300"] {
    fill: #00F300; }

.chart-overlay .pt-card {
  height: 100%; }
.chart-overlay .main-chart .chart-container {
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden; }

/*# sourceMappingURL=style.css.map */
